<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="AccesoDatos" connectionString="Data Source=DESKTOP-4DQ9V6E;Initial Catalog=TC1_GestionAcademica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SmartDemic.Properties.Settings.TC1_GestionAcademicaConnectionString"-->
    <!--<add name="AccesoDatos"
      connectionString="Data Source=(local);Initial Catalog=TC1_GestionAcademica;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
	  <add name="AccesoDatos"
  connectionString="Data Source=DESKTOP-Q29ATDE\SQLEXPRESS;Initial Catalog=TC1_GestionAcademica;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	  <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="Repository" value="DataAccessComponents.Repositories" />
   </appSettings>
</configuration>